{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Setor list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for setor in setors %}
            <tr>
                <td><a href="{{ path('setor_show', { 'id': setor.id }) }}">{{ setor.id }}</a></td>
                <td>{{ setor.nome }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('setor_show', { 'id': setor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('setor_edit', { 'id': setor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('setor_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
