{% extends "AppBundle::base.html.twig" %}

{% block title %}Processos{% endblock %}

{% block body %}
<h1 class="text-center">Processos</h1>

<div class="row">
	<div class="col-md-6">
		<form action="{{ path('salva_processo') }}" method="post">
			<fieldset>
				<legend>Criar processo</legend>
				<div class="form-group">
					{{ form_widget(form.nome,{'attr' : {'class': 'form-control', 'placeholder' : 'Nome do processo'} }) }}
				</div>
				<div class="form-group">
					{{ form_widget(form.objetivo,{'attr' : {'class': 'form-control', 'placeholder' : 'Objetivo do processo'} }) }}
				</div>
				<div class="form-group">
					{{ form_widget(form.periodicidade,{'attr' : {'class': 'form-control', 'placeholder' : 'Periodicidade'} }) }}
				</div>

				<div class="form-group">
					{{ form_label(form.logo)}}
					{{ form_widget(form.logo,{'attr' : {'class': 'form-control'} }) }}
					
				</div>
				<div class="form-group">
					<input type="submit" value="Criar" class="btn btn-primary">
				</div>
			</fieldset>
		</form>		
	</div>	
	<div class="col-md-6">
		<form action="{{ path('busca_processo') }}" method="get">
			<fieldset>
				<legend>Buscar processo</legend>
				<div class="form-group">
					<input type="text" class="form-control" name="nome"  placeholder="Nome do processo">
				</div>
				<div class="form-group">
					<input type="submit" value="Buscar" class="btn btn-default">
				</div>
			</fieldset>
		</form>		
	</div>	
</div>


<table class="table table-stripped">
	<thead>
		<tr>
			<th>Nome do processo</th>
			<th>Usuário</th>
			<th>Data de criação</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody>
		{% for processo in processos %}
			<tr>
				<td>{{ processo.nome }}</td>
				<td>Ricardo</td>
				<td>26/10/2016</td>
				<td>
					<a href="#" class="btn btn-link">Detalhes</a>
					<a href="#" class="btn btn-link">Ver diagrama</a>
				</td>
			</tr>
		{% endfor %}
		<tr>
			<td>Processo 1</td>
			<td>Ricardo</td>
			<td>26/10/2016</td>
			<td>
				<a href="#" class="btn btn-link">Detalhes</a>
				<a href="#" class="btn btn-link">Ver diagrama</a>
			</td>
		</tr>
		<tr>
			<td>Processo 1</td>
			<td>Ricardo</td>
			<td>26/10/2016</td>
			<td>
				<a href="#" class="btn btn-link">Detalhes</a>
				<a href="#" class="btn btn-link">Ver diagrama</a>
			</td>
		</tr>
		<tr>
			<td>Processo 1</td>
			<td>Ricardo</td>
			<td>26/10/2016</td>
			<td>
				<a href="#" class="btn btn-link">Detalhes</a>
				<a href="#" class="btn btn-link">Ver diagrama</a>
			</td>
		</tr>
		<tr>
			<td>Processo 1</td>
			<td>Ricardo</td>
			<td>26/10/2016</td>
			<td>
				<a href="#" class="btn btn-link">Detalhes</a>
				<a href="#" class="btn btn-link">Ver diagrama</a>
			</td>
		</tr>
		<tr>
			<td>Processo 1</td>
			<td>Ricardo</td>
			<td>26/10/2016</td>
			<td>
				<a href="#" class="btn btn-link">Detalhes</a>
				<a href="#" class="btn btn-link">Ver diagrama</a>
			</td>
		</tr>
		<tr>
			<td>Processo 1</td>
			<td>Ricardo</td>
			<td>26/10/2016</td>
			<td>
				<a href="#" class="btn btn-link">Detalhes</a>
				<a href="#" class="btn btn-link">Ver diagrama</a>
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}
